@font-face {
    font-family: "Pixel";
    src: url('fonts/press-start-p2-regular.ttf') format('truetype');
}

body{
    /*cursor: url('imgs/gun-pointer.png') 10 10, pointer;*/
    background-color: rgb(60 188 252);
    margin:0;
    padding:0;
}

.container, #start-screen{
    display: flex;
    flex-wrap: wrap;
    font-family: "Pixel", Arial, Helvetica, sans-serif;
}

.scenario img {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

#start-screen, #game-over, #end-round {
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#game-over {
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 200%;
}

#end-round {
    visibility: hidden;
    display: flex;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    top: -20%;
}

.round-box {
    padding: 15px;
    border-color: white;
}

.title-box {
    width: 360px;
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.game {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
}

.game > div {
    display: flex;
}

#play {
    display: flex;
    flex-wrap: nowrap;
    /*visibility: hidden;*/
    animation: blink 1s infinite;
}

.top-score {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: green;
    padding: 15px;
}

.gamePanel {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 2%;
    width: 100%;
}

.scores-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.rounds {
    display: flex;
    height: auto;
    background-color: black;
    color: white;
    width: fit-content;
    align-self: flex-start;
}

.player-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 25px;
    color: white;
}

.box {
    background-color: black;
    border: 3px solid greenyellow;
    border-radius: 10px;
}

.box > div {
    padding: 6px;
}

.shot-box {
    color: cyan;
}

#shots {
    display: flex;
}

.shot {
    background-image: url('imgs/main-sprite.png');
    background-position: 0px 582px;
    width: 20px;
    height: 20px;
}

#ducks {
    display: flex;
    color: greenyellow;
    font-size: 20px;
}

.thumbDuck {
    background-image: url('imgs/main-sprite.png');
    background-position: -54px 582px;
    width: 20px;
    height: 20px;
    padding-left: 2px;
}

.score-box {
    font-size: 20px;
    text-align: right;
}

.dog {
    background-image: url('imgs/main-sprite.png');
    position: absolute;
    bottom: 18%;
    left: 50px;
    z-index: 10;
    width: 120px;
    height: 100px;
    /*animation: initialDog 3s;*/
}

.duck {
    background-image: url('imgs/main-sprite.png');
    background-position: 0px -230px;
    position: absolute;
    /*bottom: 100px;
    left: 500px;*/
    z-index: 10;
    width: 70px;
    height: 60px;
}

.blink {
    animation: blink 1s infinite;
}

#main-score {
    z-index: 5;
    position: absolute;
    color: white;
    font-size: 12px;
    visibility: hidden;
}

@keyframes blink {
    from { opacity: 1; }
	to { opacity: 0; }
}